[코드 LHR 2- 2] 상수처럼 사용하는 변수

In [6]:
PI = 3.1415
print(PI)

[코드 LHR 2- 3] 관계 연산자

In [ ]:
a = 11
b = 4

print(a > b)
print(a <= b)

True
False

[코드 LHR 2- 4]논리 연산자

In [ ]:
name1 = '하'
football = ['손', '흥', '민', '이', '강', '인']

print(name1 in football)

False

[코드 LHR 2- 5] else if 조건문

In [9]:
a = 3

if a == 5:
    print('Right!')
    print('a is 5')
else:
    print('a is not 5')

a is not 5

[코드 LHR 2- 6] if ~ elif ~ else 조건문

In [8]:
a = 6

if a < 5:
    print('a is smaller than 5')
elif a > 5:
    print('a is larger than 5')
else:
    print('a is equal to 5')

a is larger than 5

[코드 LHR 2- 7] while 반복문으로 구구단 5단 출력

In [10]:
a = 5
i = 1

while i <= 9:
    print(str(a) + ' X ' + str(i) + ' = ' + str(i * a))
    i += 1

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

[코드 LHR 2- 8] 실행결과

In [11]:
a = 5

for i in range(1, 10):
    print(str(a) + ' X ' + str(i) + ' = ' + str(i * a))

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

[코드 LHR 2- 9]구구단 일부

In [14]:
a = 5

while a <= 7:  # (나)
    for i in range(1, 10):
        print(str(a) + ' X ' + str(i) + ' = ' + str(i * a))
    print("------------------")
    a += 1

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
------------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
------------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
------------------

[코드 LHR 2- 10] 확장 문자

In [16]:
string_5 = "This is String! \"따옴표\" 기호:!@#$%^"
print(string_5)

This is String! "따옴표" 기호:!@#$%^

[코드 LHR 2- 11] 튜플

In [18]:
tuple_1 = 1, 2, 3
tuple_2 = ('가', '나', '다')
tuple_3 = '파이썬', 10000, False

print(tuple_1, type(tuple_1))
print(tuple_2, type(tuple_2))
print(tuple_3, type(tuple_3))
print(len(tuple_1))

(1, 2, 3) <class 'tuple'>
('가', '나', '다') <class 'tuple'>
('파이썬', 10000, False) <class 'tuple'>
3

[코드 LHR 2- 12] 세트 생성

In [19]:
set_1 = {1, 2, '가', 1, 2}
set_2 = set({1, 2, '가', 1, 2})

print(set_1)
print(set_2)

{1, 2, '가'}
{1, 2, '가'}

[코드 LHR 2- 13]세트 변경 및 복제

In [20]:
set_1 = {1, '가', '나', '다'}

set_1.add('추가')
print(set_1)

set_1.remove('가')
print(set_1)

set_1.clear()
print(set_1)

{1, '추가', '나', '다', '가'}
{1, '추가', '나', '다'}
set()

[코드 LHR 2- 14] 리스트

In [21]:
list_1 = [1, 2, 3]
print(list_1)

list_1[2] = 9999
print(list_1)

list_1.append(100)
print(list_1)

list_1.remove(9999)
print(list_1)

list_1.insert(0, 777)
print(list_1)

[1, 2, 3]
[1, 2, 9999]
[1, 2, 9999, 100]
[1, 2, 100]
[777, 1, 2, 100]

[코드 LHR 2- 15] 리스트 데이터 정렬

In [23]:
list_1 = [897, 2, 1, 4, 99, 5.24, 17]
print(list_1)

list_1.reverse()
print(list_1)

list_1.sort()
print(list_1)

[897, 2, 1, 4, 99, 5.24, 17]
[17, 5.24, 99, 4, 1, 2, 897]
[1, 2, 4, 5.24, 17, 99, 897]

[코드 LHR 2- 16] 딕셔너리

In [25]:
dict_1 = {'name': '홍길동', 'birth': 1990}
print(dict_1['birth'])

dict_1['weight'] = 60.5
print(dict_1)

dict_1.update({'weight': 67.8})
print(dict_1)

1990
{'name': '홍길동', 'birth': 1990, 'weight': 60.5}
{'name': '홍길동', 'birth': 1990, 'weight': 67.8}

[코드 LHR 2- 17] 딕셔너리

In [26]:
dict_2 = {'hobby': '볼링'}

dict_2['hobby'] = ['축구', '등산']
print(dict_2)

del dict_2['hobby']
print(dict_2)

{'hobby': ['축구', '등산']}
{}

[코드 LHR 2- 18] 자료형 찾기

In [27]:
a1 = ('1', False)
a2 = {1, '가'}
a3 = [1, '가', 1]
a4 = {'가': 1, '나': '2'}

print(a1, type(a1))
print(a2, type(a2))
print(a3, type(a3))
print(a4, type(a4))

('1', False) <class 'tuple'>
{1, '가'} <class 'set'>
[1, '가', 1] <class 'list'>
{'가': 1, '나': '2'} <class 'dict'>

[코드 LHR 2- 19] len() 함수

In [28]:
list_1 = [13, 51]

length = len(list_1)
print(length)

2

[코드 LHR 2- 20] 합을 출력하는 함수 정의

In [29]:
def sum_list(a):
    j = 0
    for i in a:
        j = j + i
    return j

list_a = [1, 2, 3]
print(sum_list(list_a))  # 호출

6

[코드 LHR 2- 21] 실행결과

In [30]:
def gugudan(gu):
    for i in gu:  # (가)
        for j in range(1, 10):  # (나)
            print(str(i) + ' X ' + str(j) + ' = ' + str(i * j))
        print("------------------")

gugu = [3, 4, 5]
print(gugudan(gugu))  # 호출

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
------------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
------------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
------------------
None

[코드 LHR 2- 22]

In [31]:
A = 10 * 4 * (1/2)
B = 9 * 5 * (1/2)

print(A == B)

False

[코드 LHR 2- 23] 세트 변경 및 복제

In [35]:
name_1 = {'이', '하', '랑'}

name_1.add('010-3056-5120')
print(name_1)

name_1.remove('이')
print(name_1)

name_1.clear()
print(name_1)

{'하', '랑', '010-3056-5120', '이'}
{'하', '랑', '010-3056-5120'}
set()

[코드 LHR 2- 24] 리스트

In [34]:
name_1 = ['이', '하', '랑']

name_1.append('010-3056-5120')
print(name_1)

name_1.remove('이')
print(name_1)

name_1.clear()
print(name_1)

['이', '하', '랑', '010-3056-5120']
['하', '랑', '010-3056-5120']
[]

[코드 LHR 2-25] 자판기 프로그램

In [36]:
def check_even_num(x):
    if x % 2 == 0:
        return True
    return False

number = int(input('판별할 자연수를 입력하세요: '))
if check_even_num(number):
    print('짝수')
else:
    print('홀수')

판별할 자연수를 입력하세요: 10
짝수